* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgreen;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.main {
    max-width: 65%;
    margin: 20px auto;
}


.f1div {
    background-color: skyblue;
    padding-left: 10px;
}

.f1ulist {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.f1list {
    margin-right: 25px;
    font-size: 30px;
    font-family: Serif;
}

.f2div {
    background-color: skyblue;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

img {
    height: 300px;
    width: 300px;

}

.idiv {
    text-align: center;
    padding: 60px 80px;
    margin-left: 120px;
}

.btn {
    margin-top: 10px;
    padding: 10px;
    border: 3px solid hotpink;
    color: deeppink;
    background-color: white;
}


.f3div {
    margin-top: 40px;
    background-color: skyblue;
    padding: 30px;
}

.f4div {
    background-color: skyblue;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
}

.f4list {
    list-style-type: none;
    border: 3px solid grey;
    margin-bottom: 5px;
    padding-left: 10px;
}



.f5div {
    background-color: skyblue;
    padding: 30px;
}

.f5h {
    font-family: unset;
}

.f5list {
    list-style-type: none;
    border: 3px solid grey;
    margin-bottom: 5px;
    padding-left: 10px;

}

.all:hover {
    box-shadow: 0px 0px 10px #00f5d4;
}

@media screen and (max-width:530px) {
    .idiv{
        margin-left:30px;
    }
    
}